#set( $limit = $util.defaultIfNull($context.args.limit, 100) )
#set( $query = {
  "expression": "#partitionKey = :partitionKey",
  "expressionNames": {
      "#partitionKey": "owner"
  },
  "expressionValues": {
      ":partitionKey": {
          "S": "$context.source.owner"
    }
  }
} )
## [Start] Applying Key Condition **
#if( !$util.isNull($ctx.args.state) && !$util.isNull($ctx.args.state.beginsWith) )
  #set( $query.expression = "$query.expression AND begins_with(#sortKey, :sortKey)" )
  $util.qr($query.expressionNames.put("#sortKey", "state"))
  $util.qr($query.expressionValues.put(":sortKey", { "S": "$ctx.args.state.beginsWith" }))
#end
#if( !$util.isNull($ctx.args.state) && !$util.isNull($ctx.args.state.between) )
  #set( $query.expression = "$query.expression AND #sortKey BETWEEN :sortKey0 AND :sortKey1" )
  $util.qr($query.expressionNames.put("#sortKey", "state"))
  $util.qr($query.expressionValues.put(":sortKey0", { "S": "$ctx.args.state.between[0]" }))
  $util.qr($query.expressionValues.put(":sortKey1", { "S": "$ctx.args.state.between[1]" }))
#end
#if( !$util.isNull($ctx.args.state) && !$util.isNull($ctx.args.state.eq) )
  #set( $query.expression = "$query.expression AND #sortKey = :sortKey" )
  $util.qr($query.expressionNames.put("#sortKey", "state"))
  $util.qr($query.expressionValues.put(":sortKey", { "S": "$ctx.args.state.eq" }))
#end
#if( !$util.isNull($ctx.args.state) && !$util.isNull($ctx.args.state.lt) )
  #set( $query.expression = "$query.expression AND #sortKey < :sortKey" )
  $util.qr($query.expressionNames.put("#sortKey", "state"))
  $util.qr($query.expressionValues.put(":sortKey", { "S": "$ctx.args.state.lt" }))
#end
#if( !$util.isNull($ctx.args.state) && !$util.isNull($ctx.args.state.le) )
  #set( $query.expression = "$query.expression AND #sortKey <= :sortKey" )
  $util.qr($query.expressionNames.put("#sortKey", "state"))
  $util.qr($query.expressionValues.put(":sortKey", { "S": "$ctx.args.state.le" }))
#end
#if( !$util.isNull($ctx.args.state) && !$util.isNull($ctx.args.state.gt) )
  #set( $query.expression = "$query.expression AND #sortKey > :sortKey" )
  $util.qr($query.expressionNames.put("#sortKey", "state"))
  $util.qr($query.expressionValues.put(":sortKey", { "S": "$ctx.args.state.gt" }))
#end
#if( !$util.isNull($ctx.args.state) && !$util.isNull($ctx.args.state.ge) )
  #set( $query.expression = "$query.expression AND #sortKey >= :sortKey" )
  $util.qr($query.expressionNames.put("#sortKey", "state"))
  $util.qr($query.expressionValues.put(":sortKey", { "S": "$ctx.args.state.ge" }))
#end
## [End] Applying Key Condition **
{
  "version": "2017-02-28",
  "operation": "Query",
  "query":   $util.toJson($query),
  "scanIndexForward":   #if( $context.args.sortDirection )
    #if( $context.args.sortDirection == "ASC" )
true
    #else
false
    #end
  #else
true
  #end,
  "filter":   #if( $context.args.filter )
$util.transform.toDynamoDBFilterExpression($ctx.args.filter)
  #else
null
  #end,
  "limit": $limit,
  "nextToken":   #if( $context.args.nextToken )
$util.toJson($context.args.nextToken)
  #else
null
  #end
}